---
dependency:
  name: galaxy
driver:
  name: podman
platforms:
  - name: ansiblectrl
    image: "quay.io/actatux/ansible-${MOLECULE_DISTRO:-centos:8}"
    override_command: false
    privileged: true
    pre_build_image: true
provisioner:
  name: ansible
verifier:
  name: ansible
