---
dependency:
  name: galaxy
driver:
  name: podman
platforms:
  - name: compute
    image: "quay.io/actatux/ansible-${MOLECULE_DISTRO:-centos:8}"
    override_command: false
    pre_build_image: true

provisioner:
  name: ansible
  inventory:
    host_vars:
      compute:
        authentication_ssh_keys:
          - ssh-rsa fakeAuthKey root@localhost.localdomain

verifier:
  name: ansible
